page-home {
  .homepage-header {
    width: 50%;
    margin: 10% 0 0 25%;
  }
  .bats {
    position: absolute;
    top: 25px;
  }
  ion-navbar.toolbar ion-title {
    width: 100%;
  }
}

ion-grid.text.grid {
  margin: 5%;
  width: 90%;
  ion-col {
    text-align: center;
    img {
      width: 30%;
    }
  }
}

.container {
  .content {
    //z-index: 20;
  }
}

