// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
html {
  height: 100%;
  body {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

.toolbar {
  .toolbar-background {
    background: #0f0308;
    opacity: .8;
  }

  .toolbar-title {
    font-family: Opificio;
    color: #f1f1f1;
  }

  .bar-button-menutoggle {
    color: #f1f1f1;
  }
  .toolbar-content {
    button.button {
      background-color: transparent;
      .icon {
        font-size: 1.6em;
      }
    }
  }
}

.container {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #200f17 0%, #5b132b 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .content {
    background: none;
    div.scroll-content {
      padding: 0;
    }
  }
  .content.content-md {
    background-color: inherit;
  }
  .text {
    color: #FFF;
    font-size: 15px;
    font-family: "Roboto";
    font-weight: bold;
  }
}

.menu-inner {
  .content.content-md, .content.content-ios {
    background-color: inherit;
  }
  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border: none;
  }
  .list-ios > .item-block:last-child .item-inner, .list-ios > .item-wrapper:last-child .item-block .item-inner {
    border-bottom: 0.55px solid rgba(200, 199, 204, 0.25);
  }
  button.item {
    background-color: rgba(50, 16, 30, 1);
    color: #fff;
    .item-inner {
      padding: 15px 0px 15px 16px;
      border-bottom: 0.55px solid rgba(200, 199, 204, 0.25);
    }
  }
}

page-home {
  .homepage-header {
    width: 50%;
    margin: 10% 0 0 25%;
  }
  .bats {
    position: absolute;
    top: 25px;
  }
}

ion-grid.text.grid {
  margin: 5%;
  width: 90%;
  ion-col {
    text-align: center;
    img {
      width: 30%;
    }
  }
}

ion-navbar {
  button.back-button {
    .button-inner {
      color: white;
      font-family: Opificio;
    }
  }
}

ion-list.list {
  ion-card.item {
    background-color: transparent;
    padding-left: 0px;
    margin: 0% 5%;
    width: 90%;
    box-shadow: none;
    ion-label.label {
      margin-right: 0px;
      white-space: unset;
      img {
        height: 100px;
      }
    }
    .item-inner {
      padding-right: 0px;
      border-bottom: none;
    }
    ion-card-content {
      background-color: rgba(255, 255, 255, 0.8);
      button {
        height: 2.0em;
      }
      ion-card-title {
        font-weight: bold;
      }
    }
    p {
      color: #0f0308;
    }
  }
}

.container ion-content.content {
  margin: 0px;
  .scroll-content {
    margin-top: 44px;
  }
}

.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
  border-bottom: none;
}

ion-navbar.toolbar {
  position: relative;
  display: inline;
  button {
    display: inline;
    float: left;
  }
  ion-title {
    display: inline;
    float: left;
    margin: 1rem 0.2rem;
    padding: 0 1.1em;
    text-align: center;
    width: 70%;
  }
  button.back-button {
    margin-top: 0.7rem;
  }
}

ion-navbar.toolbar-ios {
  padding: 4px;
  min-height: 56px;
  ion-title {
    left: initial;
    top: initial;
    height: initial;
    .toolbar-title-ios {
      padding: 0 12px;
      font-size: 2rem;
      font-weight: 500;
    }
  }
}
