// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
html {
  height: 100%;
  body {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

.toolbar {
  .toolbar-background {
    background: #0f0308;
    opacity: .8;
  }

  .toolbar-title {
    color: #f1f1f1;
  }

  .bar-button-menutoggle {
    color: #f1f1f1;
  }
}

.container {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #200f17 0%, #5b132b 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .content-ios {
    background: none;
    div.scroll-content {
      padding: 0;
    }
  }
  .text {
    color: #FFF;
    position: absolute;
    top: 50%;
    right: 50%;
    margin: -10px -75px 0 0;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
  }
}

// Creates n stars.
@function create-stars($n) {
  $stars: "#{random($starFieldWidth)}px #{random($starFieldHeight)}px #fcb02a";
  @for $i from 2 through $n {
    $stars: "#{$stars} , #{random($starFieldWidth)}px #{random($starFieldHeight)}px #fcb02a";
  }

  @return unquote($stars);
}

// Defines stars, moving speed and star size.
@mixin star-template($numStars, $starSize, $scrollSpeed) {
  z-index: 10;
  width: $starSize;
  height: $starSize;
  border-radius: 50%;
  background: transparent;
  box-shadow: create-stars($numStars);
  animation: animStar $scrollSpeed linear infinite;
  &:after {
    content: " ";
    top: -$starStartOffset;
    width: $starSize;
    height: $starSize;
    border-radius: 50%;
    position: absolute;
    background: transparent;
    box-shadow: create-stars($numStars);
  }
}

// Defines shooting stars.
@mixin shooting-star-template($numStars, $starSize, $speed) {
  z-index: 10;
  width: $starSize;
  height: $starSize + 80;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  background: linear-gradient(to top, rgba(252, 176, 42, 0), rgba(252, 176, 42, 1));
  animation: animShootingStar $speed linear infinite;
}

.stars {
  @include star-template($numStarOneStars, 1px, $starOneScrollDuration);
}

.stars1 {
  @include star-template($numStarTwoStars, 2px, $starTwoScrollDuration);
}

.stars2 {
  @include star-template($numStarThreeStars, 3px, $starThreeScrollDuration);
}

.shooting-stars {
  @include shooting-star-template($numShootingStars, 5px, 10s);
}

// Animates normal stars.
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-#{$starFieldHeight}px) translateX(-#{$starFieldWidth}px);
  }
}

// Animates shooting stars.
@keyframes animShootingStar {
  from {
    transform: translateY(0px) translateX(0px) rotate(-45deg);
    opacity: 1;
    height: 5px;
    z-index: 0;
  }
  to {
    transform: translateY(-#{$starFieldHeight}px) translateX(-#{$starFieldWidth}px) rotate(-45deg);
    opacity: 1;
    height: 800px;
    z-index: 0;
  }
}
